<%- include('partials/head') %>


<div class='busca'>
    <h2>Busque o clima pelo nome da cidade:</h2>
    <form class="center" action="/buscaCidade" method="GET">
        <input type="text" name="cidade" id="cidade">
        <button>Buscar</button>
    </form>
</div>


<%- include('partials/footer') %>