
<div class="container">
    <header class="blog-header py-3 header">
      <div class="">
        <div class="col-4 pt-1">
          <a class="link-secondary" href="#"></a>
        </div>
        <div class="text-center">
          <a class="blog-header-logo text-dark" href="#">TÍTULO DO BLOG</a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">

     
        </div>
      </div>
    </header>