
<div class="container">
    <header class="blog-header py-3 header mt-3">
      <div class="">
        <div class="col-4 pt-1">

        </div>
        <div class="text-center">
         <h4> <a class="blog-header-logo text-dark" href="/index">TÍTULO DO BLOG</a></h4>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">

     
        </div>
      </div>
    </header>
    <main class="container index ">
      <div class="md-3 mb-3 mt-3 meuindex">
        <div class="m-3">