.index{
    padding-left: 0 !important;
    padding-right: 0 !important;
  
}


.meuindex{
    border-width: 20px;
    border-color: #ccc;
    border-style: solid;
    font-family: 'Source Sans Pro';
    
}

.linha{

   /* gradient shining border */
   background-image: 
   linear-gradient(to left, rgba(0, 0, 0, 0) 10%, #ccc 50%, rgba(0, 0, 0, 0) 90%);
background-size: 100% 3px;
background-position: 0% 0%, 0% 100%;
background-repeat: no-repeat;



}
.imgIndex{
    float: right;
    margin: 2px;
}

.data{
    color:#3498db;
    text-transform: uppercase;
}

.nomeComentario{
    color:#3498db;
}
.tituloComentario{
    font-weight:bold;
    text-transform: uppercase;
}

.text{
    width: 100%;

 border: #ccc 1px solid;
}
.textArea{

    height: 80px;
}
.pPri{
    margin: 0 !important;
}
.btnADM{
border-radius: 4px;
    
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 1px solid;
}
legend {
    float: none;
    width: 170px;
    padding: 0;
    margin-bottom: .5rem;
    font-size: calc(1.275rem + .3vw);
    line-height: inherit;
}

.red{
color:red;
}
.gre{
    color:green;
    float: right;
}

.red a:hover{
    color:red;
text-decoration: none!important;

}
.gre a:hover{
    text-decoration: none!important;
    color:green;

}

.btn-link{
    text-decoration: none;
}
.btn-link:hover{
    text-decoration: underline;
}
.imgShow{
    float: left;
    margin: 2px;
}

.redEdit{
    background-color: red;
}

p{
    -webkit-user-modify: read-write-plaintext-only;
}