.index{
    padding-left: 0 !important;
    padding-right: 0 !important;
  
}


.meuindex{
    border-width: 20px;
    border-color: #ccc;
    border-style: solid;
    font-family: 'Source Sans Pro';
    
}

.linha{

   /* gradient shining border */
   background-image: 
   linear-gradient(to left, rgba(0, 0, 0, 0) 10%, #ccc 50%, rgba(0, 0, 0, 0) 90%);
background-size: 100% 3px;
background-position: 0% 0%, 0% 100%;
background-repeat: no-repeat;



}
.imgIndex{
    float: right;
    margin: 2px;
}

.data{
    color:#3498db;
    text-transform: uppercase;
}

.nomeComentario{
    color:#3498db;
}
.tituloComentario{
    font-weight:bold;
    text-transform: uppercase;
}

.text{
    width: 100%;

 border: #ccc 1px solid;
}
.textArea{

    height: 80px;
}
.pPri{
    margin: 0 !important;
}
