<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Busca clima</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
   <a href="/"><h1>Busca clima usando a API do hgbrasil</h1></a>
    


