<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <title>RESTful</title>
</head>
<body>
    <h2>Alterar pessoa:</h2>
    <form action="/pessoas/<%=pessoa._id%>?_method=PUT" method="post">

        <label for="nome"></label>
        <input type="text" name="nome" id="nome" value="<%=pessoa.nome%>" required>
        <label for="email"></label>
        <input type="email" name="email" id="email" value="<%=pessoa.email%>">
        <label for="cpf"></label>
        <input type="text" name="cpf" id="cpf"  value="<%=pessoa.cpf%>" required>
    <button type="submit">Alterar</button>

    </form>

<a href="/pessoas"><button>voltar</button></a>

    
</body>
</html>