<!doctype html>

  <head>
    <%-include('partials/head') %>

       
         
        

    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
  </head>
  <%-include('partials/header') %>
 
<main class="form-signin text-center sigMain">
  <form action="/" method="post">
    <img class="mb-4 figure-img img-fluid rounded" src="/imgs/intro.png" alt="" width="350" height="150">
    <h1 class="h3 mb-3 fw-normal">Entrar no Portal de 2 jogos</h1>

    <div class="form-floating">
      <input type="email" class="form-control" name="username" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Senha</label>
    </div>

 
    <button class="w-100 btn btn-lg btn-primary mb-2" type="submit">Entrar</button>
 
  </form><form action="/jogo/cadastro" method="get">
  <button class="w-100 btn btn-lg btn-primary mb-2" type="submit" >Cadastro</button>
</form>
</main>

<%-include('partials/footer') %>

