<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <title>RESTful</title>
</head>
<body>
    <h2>Alterar pessoa:</h2>
    <form action="/pessoas/<%=pessoa.id%>?_method=PATCH" method="post">
        <label for="nome"></label>
        <input type="text" name="nome" id="nome" value="<%=pessoa.nome%>" required>
        <label for="id"></label>
        <input type="number" name="id" id="id" min="0" max="10" value="<%=pessoa.id%>" readonly required>

    <button type="submit">Alterar</button>

    </form>

<a href="/pessoas"><button>voltar</button></a>

    
</body>
</html>