<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <title>RESTful</title>
</head>
<body>
    <h2>get pessoa:</h2>
    
     
            <p>Nome: <%=pessoa.nome%>  ID: <%=pessoa.id%></p>

            <a href="/pessoas/<%=pessoa.id%>/edit"> <button type="submit">Alterar</button></a>
            <form action="/pessoas/<%=pessoa.id%>?_method=DELETE" method="post">
            <button type="submit">Deletar</button></a>
        </form>
<a href="/pessoas"><button>voltar</button></a>

    
</body>
</html>