<!DOCTYPE html>
<html>
<%-include('partials/head') %> 
<body>
    <%-include('partials/header') %>
    
    <img id="imagem1" src="imagem/1.jpg" alt="">
    <h1>ola mundo</h1>
    <button id="btn" >comprar</button>
    <%-include('partials/footer') %>
    <script src="script/function.js"></script>
</body>
</html>