<!DOCTYPE html>

<%-include('../partials/head') %>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
<script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
<link href="/css/form-validation.css" rel="stylesheet">

    <%-include('../partials/header') %>

        <div class="container">
            <main>

                <div class="">
                    <h4 class="mb-3">Cadastrar jogador</h4>
                    <form class="needs-validation" novalidate method="post" action="cadastro">
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label for="nome" class="form-label">Nome</label>
                                <input name="nome" type="text" class="form-control" id="firstName" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    Digite um nome valido.
                                </div>
                            </div>



                            <div class="col-12">
                                <label for="username" class="form-label">Email </label>
                                <input type="email" name="username" class="form-control" id="email" placeholder="you@example.com"
                                    required>
                                <div class="invalid-feedback">
                                    Digite um email valido.
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="senha" class="form-label">Senha</label>
                                <div class="input-group has-validation">
                               
                                <input type="password" name="password"  class="form-control" id="password" placeholder=""
                                    required >
                                    <span class="input-group-text"><Button type="button" id="botaoVer" onclick="mostraSenha()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                      </svg></Button></span>
                                <div class="invalid-feedback">
                                    Digite uma senha.
                                </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="dataDeNascimento" class="form-label">Data de nascimento</label>
                                <div class="input-group has-validation">
                               
                                <input type="text" name="dataDeNascimento" class="form-control" id="calendario" placeholder=""
                                    required readonly>
       
                                <div class="invalid-feedback">
                                    digite uma data de nascimento valida.
                                </div>
                                </div>
                            </div>
                            <input type="text" name="highScore1" class="form-control" id="calendario" placeholder=""
                                    required readonly style="display:none" value="0">
                                    <input type="text" name="highScore2" class="form-control" id="calendario" placeholder=""
                                    required readonly style="display:none" value="0">

                            <hr class="my-4">

                            <button id="data" class="w-50 btn btn-primary btn-lg meu-btn" type="submit">Cadastrar</button>
                    </form>
                </div>
        </div>
        </main>
    </div>
        <script src="/js/form-validation.js"></script>
   
        <%-include('../partials/footer') %>