<!DOCTYPE html>
<html>
    <%-include('../partials/head') %>


    <link rel="stylesheet" type="text/css" href="/css/gameOver.css">
    <%-include('../partials/header') %>



    <script id="gameOver" src="/js/gameOver.js"></script>

 


  
</body>

</html>