<!DOCTYPE html>
<html>
<%-include('../partials/head') %>

    <body>
        <%-include('../partials/header') %>


            <h1>ola mundo</h1>

            <%-include('../partials/footer') %>



                <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    </body>

</html>