<!DOCTYPE html>

<%-include('../partials/head') %>

       

        
        <%-include('../partials/header') %>
        <div id="corpo" class="container">

            <h1 id="bemVindo">Bem vindo ao Portal de 2 Jogos</h1>
            <main class="container">
 
                <div class="row mb-2">
                  <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Jogo 1</strong>
                        <h3 class="mb-0">Plataforma</h3>
                    
                        <p class="card-text mb-auto">Colete o maximo de estrelas possiveis, sem encostar nas bombas.</p>
                        <!-- <a href="jogo/play2">Jogar o jogo 1</a> -->
                        <a href="jogo/play"><img src= "/imgs/jogo1.png" class="figure-img img-fluid rounded"></a>
                      </div>
                      <div class="col-auto d-none d-lg-block">
                        <img src = "/imgs/2.png" id="game">
            
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">Jogo 2</strong>
                        <h3 class="mb-0">Tower Defense</h3>
                        
                        <p class="mb-auto">Quanto tempo você é capaz de durar nestas infinitas ondas de Orcs.</p>
                        <a href="/jogo/play2" ><img src= "/imgs/jogo2.png" class="figure-img img-fluid rounded"></a>
                      </div>
                      <div class="col-auto d-none d-lg-block">
                        <img src = "/cenarios/mapa.png" id="game" class="figure-img img-fluid rounded">
                          <title>Placeholder</title>
                          <rect width="100%" height="100%" fill="#55595c" />
                     
            
                      </div>
                    </div>
                  </div>
                </div>
            
               
            
              </main>
          
        
        </div>
        


  
               
                <%-include('../partials/footer') %>