<!DOCTYPE html>
<%-include('../partials/head') %>

       

        
<%-include('../partials/header') %>
    <script id="jogo" src="/js/jogo.js"></script>


 
    <script src="/js/bootstrap.bundle.min.js"></script>
    </body>
    </html>