<!DOCTYPE html>
<%-include('../partials/head') %>

       

        
<%-include('../partials/header') %>
   

    
 



<script id="jogo" src="/js/tste1.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>