<!DOCTYPE html>
<%-include('../partials/head') %>

       

        
<%-include('../partials/header') %>
   
<form action="/jogo/gameOver1/<%=currentUser._id%>?_method=PUT" method="post" id="gameOver"> 
    <input name="highScore1" type="hidden" class="form-control" id="valorhighScore1" placeholder="" required>
</form>
    
 



<script id="jogo" src="/js/tste1.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>