
<%-include('../partials/head') %>
<%-include('../partials/header') %>
<form action="/cadastroUsuario" method="post">
  <label for="username">Nome:</label>
  <input type="text" name="username" class="text" placeholder="Usuario">
  <label for="password">Senha:</label>
  <input type="text" name="password" class="text" placeholder="Senha">
 <button class="btnADM mt-3">Cadastrar</button>
</form>


  <%-include('../partials/footer') %>