<head>


    <!-- Custom styles for this template -->
    <link href="/css/footers.css" rel="stylesheet">
</head>



    <footer class="footer py-3 my-2 mt-auto bg-dark text-white">
        <div class="container">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/inicio" class="nav-link px-2 text-white">Inicio</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white">About</a></li>
      </ul>
      <p class="text-center text-muted">João Heberle© 2021 Company, Inc</p>
    </div>
    </footer>
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
  </html>