<head>
 
  <link href="/css/headers.css" rel="stylesheet">
</head>
<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap" />
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/jogo/inicio" class="nav-link px-2 text-white">Inicio</a></li>
        <li><a href="/jogo/ranking1" class="nav-link px-2 text-white">Ranking Jogo 1</a></li>
        <li><a href="/jogo/ranking2" class="nav-link px-2 text-white">Ranking Jogo 2</a></li>
     
      </ul>


      <div class="text-end">
        <% if(currentUser) { %> 
          <a href="/jogo/atualizar" role="button" class="btn btn-warning me-2">Atualizar</a>
          <a href="/logout" role="button" class="btn btn-danger me-2">Sair</a>

        <% }else{ %> 
          <a href="/"  role="button" class="btn btn-outline-light me-2">Logar</a>
        <a href="/jogo/cadastro" role="button" class="btn btn-success me-2">Cadastrar</a>
        <% } %> 
      </div>
    </div>
  </div>
</header>
